html{
    background-color: #0066ff;
    color
}

body{
    text-align: center;
}
#topo {
    background-color: white;
}
.botoes {
    background-color: rgb(0, 102, 255);
}

#conteudo_principal {
    display: inline-block;
    position: relative;
}